@import "tailwindcss";

@theme {
  --color-navy: #FAFAFA;
  --color-light-navy: #1e293b;
  --color-lightest-navy: #E2E8F0;
  --color-slate: #94A3B8;
  --color-light-slate: #000000;
  --color-lightest-slate: #F2E8F0;
  --color-white: #F8F8F8;
  --color-accent: #818cf8;
  --color-primary: #000000;
  --color-secondary: #64748B;
}

:root {
  --background: var(--color-navy);
  --foreground: var(--color-lightest-slate);
  --text-primary: var(--color-primary);
  --text-secondary: var(--color-secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar for the right side content */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-light-navy);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-lightest-navy);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  max-width: 1280px;
}